<div class="row">     
  <div class="col-md-8">  
    <table class="table table-striped">
      <thead>        
        <tr>      
          <td><strong>Time (EDT)</strong></td>
          <td><strong>Content</strong></td>
        </tr> 
      </thead>
      <tbody>
        <tr>
          <td>10:00 - 10:10</td>
          <td>Workshop Introduction</td>
        </tr>
        <tr>
          <td>10:10 - 10:55</td>
          <td><a href="https://carpentries-incubator.github.io/machine-learning-librarians-archivists/02-AI-ML-concepts/index.html" target="_blank">Introduction to AI and Machine Learning for GLAM</a></td>
        </tr> 
        <tr>
          <td>10:55 - 11:05</td>
          <td>Break</td>
        </tr>
        <tr>
          <td>11:05 - 11:50</td>
          <td><a href="https://carpentries-incubator.github.io/machine-learning-librarians-archivists/03-what-is-ml-good-at/index.html" target="_blank">What is Machine Learning good at?</a></td>
        </tr>
        <tr>
          <td>11:50 - 12:00</td>
          <td>Break</td>
        </tr>
        <tr>
          <td>12:00 - 12:45</td>
          <td><a href="https://carpentries-incubator.github.io/machine-learning-librarians-archivists/04-managing-data-bias/index.html" target="_blank">Understanding and managing bias in the data science lifecycle</a></td>
        </tr>
        <tr>
          <td>12:45 - 13:00</td>
          <td>Workshop wrap-up, discussion, and next steps</td>
        </tr>       
      </tbody>

    </table>
  </div>
</div>
